.root {
  background-color: #fff1d4;
  color: #805500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: solid 1px #ffdc94;
  border-radius: 5px;
  margin: 5px 0;
}

.title {
  display: block;
}
