@import "react-ck";
@import "../../styles//mixins";

@include app-styles {
  .root {
    margin-bottom: get-spacing(2);
  }

  .content {
    display: flex;
    gap: get-spacing(1);
    align-items: center;
  }
}
