@import "react-ck";
@import "../../styles//mixins";

@include app-styles {
  .nav {
    border-bottom: solid get-css-var(spacing, border) get-color(neutral-light-3);
    margin-bottom: get-spacing(3);

    &__link {
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      padding: get-spacing(2) get-spacing(2);

      &:hover {
        background-color: get-color(neutral-light-2);
      }

      &.is-active {
        font-weight: bold;
      }
    }
  }
}
